.hover-section {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    
}
.hover-section div {
    width: 23%;
    height: 200px;
    border-radius: 12px;
    background-size: cover;
    background-position: center;
    position: relative;
}
.hover-section div::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
}
.hover-section div:hover::before {
    opacity: 1;
}
.hover-section div span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2.4em;
    z-index: 1;
    display: none;
}
.hover-section div:hover span {
    display: block;
}
.content-section {
    display: flex;
    align-items: center;
    padding: 40px;
}
.content-section:nth-child(even) {
    flex-direction: row-reverse;
}
.content-section img {
    width: 50%;
    border-radius: 24px;
}
.content-section div {
    width: 50%;
    padding: 20px;
    text-align: left;
}
.content-section h2 {
    font-size: 2.4em;
    margin: 15px auto;
    color: var(--main-color);
}
.content-section p {
    text-align: justify;
    line-height: 150%;
    color: #666666;
}
.grary {
    background-color: #F2F3F7;
}
.aspire-section {
    position: relative;
    width: 92%;
    margin: auto;
    height: 85vh;
    background-image: url('images/about/aspireTo.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    color: white;
    text-align: left;
    padding: 40px 20px;
}
.aspire-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    background-color: rgba(0, 0, 0, 0.8); /* Filter */
}
.aspire-section h2, .aspire-section ul {
    position: relative;
    z-index: 1;
}
.aspire-section h2 {
    font-size: 2.8em;
    margin-left: 20px;
    margin-bottom: 20px;
}
.aspire-section ul {
    font-size: 1.2em;
    line-height: 1.5;
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
}
.aspire-section ul li {
    margin-bottom: 10px;
}
@media (max-width:992px) {
    .aspire-section {
        display: block;
        height: 100vh;
    }
    .aspire-section ul li {
        margin-left: 40px;
    }
}
@media (max-width: 768px) {
    .hover-container {
        width: 48%;
    }
    .content-section {
        flex-direction: column;
        text-align: center;
    }
    .content-section:nth-child(even) {
        flex-direction: column;
    }
    .content-section img, .content-section div {
        max-width: 100%;
        width: 100%;
        padding: 10px;
    }
    .content-section div {
        text-align: center;
    }
    .aspire-section {
        height: 130vh;
    }
}
