.contact-page {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.contact-page {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.contact-form, .contact-info {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.contact-form {
    flex: 1 1 45%;
    margin-right: 10px;
}

.contact-info {
    flex: 1 1 45%;
    margin-left: 10px;
    padding-top: 80px;
}

.map-section {
    flex: 1 1 100%;
    margin-right: 10px;
}

.contact-form h2 {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 48px;
}

.contact-form label {
    display: block;
    margin: 10px 0 5px;
}

.contact-form input, .contact-form textarea {
    border: none;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 4px;
}
.contact-form input:focus , .contact-form textarea:focus{
    outline: none;
    border: 1px solid #ccc;

}
.contact-form button {
    padding: 10px 26px;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 4px;
    cursor: pointer;
    transition: all ease-in-out 350ms;
}

.contact-form button:hover {
    background-color: var(--main-color);
    color: #fff;
}

.social-media, .map {
    margin-top: 20px;
}
.map iframe {
    border-radius: 12px;
    border: 1px solid #ffffff;
}

.social-media {

    text-align: right;
}
.social-media a {
    margin-right: 10px;
    color: #333;
}
.social-media a ion-icon {
    width: 30px;
    height: 30px;
}
.social-media a:hover ion-icon{
    color: var(--main-color);
}

.contact-info .info-block {
    margin-bottom: 40px;
}

.contact-info .info-block i {
    font-size: 24px;
    color: #5cb85c;
    margin-right: 10px;
}

.contact-info .info-block h5 {
    display: inline;
    font-size: 20px;
    margin: 0;
}

.contact-info .info-block p {
    margin: 8px 26px;
    font-size: 16px;
    color: #3e3e3e;
    line-height: 30px;
}


@media (max-width: 768px) {
    .contact-page {
        width: 90%;
        flex-direction: column;
    }

    .contact-form, .contact-info {
        flex: 1 1 100%;
        margin: 0;
        margin-bottom: 20px;
    }

    .contact-form {
        margin-right: 0;
    }

    .contact-info {
        margin-left: 0;
    }
}